@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,100&family=Lato:ital,wght@1,300&family=Montserrat:wght@200&family=Pacifico&display=swap');

*{
    font-family: "Bangers";
    margin: 0;
    padding: 0;
}
.personagens{
    opacity: 0;
}
body{
    overflow: hidden;

}
@keyframes aparecer {
0% {
    opacity: 0;
}
10%{
    opacity: 0.1;
}
20% {
    opacity: 0.2;
}
30% {
    opacity: 0.3;
}
40% {
    opacity: 0.4;
}
50% {
    opacity: 0.5;
}
60% {
    opacity: 0.6;
}
70% {
    opacity: 0.7;
}
80% {
    opacity: 0.8;
}
90% {
    opacity: 0.9;
}
100% {
    opacity: 1;
}

}

@keyframes desaparecer {
0% {
    opacity: 1;
}
10%{
    opacity: 0.9;
}
20% {
    opacity: 0.8;
}
30% {
    opacity: 0.7;
}
40% {
    opacity: 0.6;
}
50% {
    opacity: 0.5;
}
60% {
    opacity: 0.4;
}
70% {
    opacity: 0.3;
}
80% {
    opacity: 0.2;
}
90% {
    opacity: 0.1;
}
100% {
    opacity: 0;
}

}

body{
    background-image: url("../img/campo-batalha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cabecalho{
    width: 100%;
    height: 15vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.div-imgs-personagens{
    width: fit-content;
    height: 100%;
    left: 0;
}
.timer{
    width: 50vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #114DB6;
    box-shadow: 0 40px 80px -5px inset black;
    border-bottom-left-radius: 10px;
    border-left: 5px solid black;
    border-bottom: 3px solid black;
}
.img-personagem{
    width: 15vh;
    height: 100%;
    z-index: 999;
    border-radius: 50px;
    box-shadow: 0 30px 60px -15px inset black;
}
.div-alertas{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.alert{
    width: 90vh;
    height: 60vh;
    background-color: #114DB6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 60px 120px -15px inset #000072;
    border-radius: 5px;
}
.alert-amg{
    display: none;
}
.title-alert{
    width: 100%;
    height: 5vh;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-imgs-alertas{
    display: flex;
    flex-direction: row;
}
.imgs-alert{
    height: 35vh;
    width: 20vh;
    border: 3px solid #114DB6;
    box-shadow: 0 20px 40px -10px inset black;
}
.imgs-alert2{
    height: 35vh;
    width: 20vh;
    border: 1px solid #114DB6;
    box-shadow: 0 20px 40px -10px inset black;
}
.alert .img1{
    background-image: url("../img/vegeta-chuva.gif");
    background-size: cover;
    background-position: 70% 50%;
}
.alert .img2{
    background-image: url("../img/kuririn-derrotado.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
.alert .img3{
    background-image: url("../img/gohan-chorando.gif");
    background-size: cover;
    background-position: 50% 50%;
}
.imgAlert2{
    width: 60vh;
    height: 35vh;
    background-image: url("../img/gokuvegeta-joia.gif");
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 40px 80px -15px inset black;
    border-radius: 10px;
}
.rodape-alertas{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape-alertas button{
    padding: 10px;
    color: black;
    background-color: #fff;
    background: linear-gradient(to top, #fff, #000072);
    width: 10vh;
    margin-top: 1vh;
    cursor: pointer;
}
.alert-viloes{
    display: flex;
}

.img-viloes{
    width: 17vh;
    height: 35vh;
    border: 3px solid #000072;
    background-repeat: no-repeat;
    
}
.buu-vilao{
    background-image: url("../img/gif-buu.gif");
    background-position: 45% 50%;
    background-size: 45vh 35vh;
}
.cell-vilao{
    background-image: url("../img/gif-cell.gif");
    background-position: 60% 30%;
    background-size: 40vh 40vh;
    transform: scaleX(-1);
}
.black-vilao{
    background-image: url("../img/black-gif.gif");
    background-position: 40% 35%;
    background-size: 50vh 40vh;
}
.brolly-vilao{
    background-image: url("../img/gif-brolly.gif");
    background-position: 40% 35%;
    background-size: 50vh 40vh;
}
.freeza-vilao{
    background-image: url("../img/gif-freeza.gif");
    background-position: 63% 35%;
    background-size: 50vh 40vh;
}
.tutorial{
    width: 70vh;
    height: 35vh;
    background-image: url('../img/tutorial-torneio.gif');
    background-size: 70vh 45vh;
}