
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,100&family=Lato:ital,wght@1,300&family=Montserrat:wght@200&family=Pacifico&display=swap');

*{
    font-family: "Bangers";
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #114DB6;
    box-shadow:#000000 0px 150px 300px -15px inset;
}
.container-nav{
    z-index:999;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 20%;
    background-color: #114DB6;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
}
.pag-selecionada{
    background-color: #083788;
    border-radius: 8%;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 80vh;
    align-items: center;
    color: white;
    list-style: none;
    padding: 5px;
    position: relative;
}
.navbar li{
    padding: 5px;
    font-size: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar li:hover{
    cursor: pointer;
    background-color: #083788;
    border-radius: 8%;
    transition: 2s;
}
.logo-navbar{
    width: 300px;
    height: 100px;
    margin-left: 5vh;
}
.section-personagens{
    top: 0;
    width: 100%;
    height: fit-content;
}
.div-title{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    font-size: 8vh;
}
.div-personagens{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
    color: white;
}
.div-img-personagem{
    width: 50vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.img-personagem{
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
    border: #083788 3px solid;
    box-shadow: #001b49 -5px 3px, #0648b9 -10px 6px;
}
.img-personagem:hover{
    box-shadow: #001b49 0px 45px 45px, #0648b9 0px -12px 30px,#114DB6 0px -3px 5px;
    cursor: pointer;
    transition: 2s;
}
.div-img-personagem:hover{
    transform: scale(1.2);
    cursor: default;
    transition: 2s;
}
.title-personagem{
    text-align: center;
    font-size: 5vh;
}
.p-personagens{
    font-size: 2.5vh;
}
.div-verMais{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.vermais-personagem{
   width: 70vh;
   height: 70vh;
   background-color: #fff; 
   border-radius: 10px;
   position: fixed;
   z-index: 999;
}
.fechar-verMais{
    width: 100%;
    height: 5vh;
    background-color: #0648b9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.btn-verMais{
    background-color: red;
    color: white;
    position: absolute;
    right: -3vh;
    top: -2vh;
    border-radius: 50px;
    width: 7vh;
    height: 7vh;
    font-size: 40px;
    cursor: pointer;
}
.title-modal{
    width: 100%;
    height: 5vh;
    margin-top: 4vh;
    font-size: 25px;
    text-align: center;
}
.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.img-modal{
    max-width: 40vh;
    max-height: 50vh;
}

footer{
    width: 100%;
    height: 25vh;
    background: linear-gradient(90deg, #000000,#083788, #114DB6);
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10vh;
   }
   footer img{
    max-width: 20vh;
    height: 10vh;
    cursor: pointer;
   }